.col-xs-11.col-sm-4.alert.alert-danger{z-index:1090 !important;}
.divisao{background-color: #F6F6F6;width: 100%;display: inline-block;padding: 15px;margin-bottom:10px}
.btn-group{width:100% !important}
