.col-xs-11.col-sm-4.alert.alert-danger{z-index:1090 !important;}
.divisao{background-color: #F6F6F6;width: 100%;display: inline-block;padding: 15px;margin-bottom:10px}
.btn-group{width:100% !important}
.ui-radiobutton-icon {margin-left: 0px !important;margin-top: -1px !important;}
.tab-content{padding:20px !important;}
.margin-left-10{margin-left:10px}
.margin-top-15{margin-top:15px}